
body {
    transition: all 1s ease
}
.login-container {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.toggler {
    margin: 10px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.toggler-btn {
    transform: scale(2.5);
    margin-right: 20px;
}
.toggler-text {
    font-size: 14px !important;
}
.login-submit {
    width:200px;
    text-align: center;
    margin-top: 10px;
}
.gif {
    display: none;
}
.visible{
    display: block !important;
}
.pic-center{
    margin:0 auto;
}
.toggler {
    padding: 10px;
    margin-left: auto;
}
.page-main {
    transition: all 1s ease-out;
    background: #0d324d;
    /*background: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);*/
}
.wrap-login100 {
    background-color: #ffffff;
    background-image: linear-gradient(167deg, #f9fcff -3%, #dee4ea -5%);
}
.body {
    height: 100vh;
    margin: 0;
    /*background: linear-gradient(339deg, rgb(83 131 152) -50%, rgba(26, 35, 44, 1) 100%);*/
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    position: absolute;
    width: 110px;
    aspect-ratio: 1;
}

    section:nth-child(1) {
        transform: translate(38.5%) rotate(-45deg);
    }

        section:nth-child(1) .block1 {
            top: 0px;
            left: 60px;
            animation: move1 3.5s infinite, gradient 10s infinite alternate;
        }

        section:nth-child(1) .block2 {
            top: 60px;
            left: 60px;
            animation: move2 3.5s 0.2s infinite, gradient 10s infinite alternate;
        }

        section:nth-child(1) .block3 {
            top: 60px;
            left: 0px;
            animation: move3 3.5s 0.4s infinite, gradient 10s infinite alternate;
        }

    section:nth-child(2) {
        transform: translate(-38.5%) rotate(45deg) scale(-1, 1);
    }

        section:nth-child(2) .block1 {
            top: 0px;
            left: 60px;
            animation: move1 3.5s 0.6s infinite, gradient 10s infinite alternate;
        }

        section:nth-child(2) .block2 {
            top: 60px;
            left: 60px;
            animation: move2 3.5s 0.8s infinite, gradient 10s infinite alternate;
        }

        section:nth-child(2) .block3 {
            top: 60px;
            left: 0px;
            animation: move3 3.5s 1.03s infinite, gradient 10s infinite alternate;
        }

    section .block {
        position: absolute;
        width: 50px;
        aspect-ratio: 1;
        border-radius: 5px;
        background: #de6b48;
        background: linear-gradient(90deg, rgba(222, 107, 72, 1) 0%, rgba(229, 177, 129, 1) 10%, rgba(244, 185, 178, 1) 20%, rgba(218, 237, 189, 1) 30%, rgba(125, 187, 195, 1) 40%, rgba(222, 107, 72, 1) 50%, rgba(229, 177, 129, 1) 60%, rgba(244, 185, 178, 1) 70%, rgba(218, 237, 189, 1) 80%, rgba(125, 187, 195, 1) 90%, rgba(222, 107, 72, 1) 100%);
        background-size: 400%;
        background-position: 0%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

@keyframes move1 {
    0%, 20.28%, 100% {
        top: 0px;
        left: 60px;
    }

    28%, 31% {
        top: 0px;
        left: 0px;
    }

    42.85%, 60% {
        top: 60px;
        left: 0px;
    }

    71.42%, 88% {
        top: 60px;
        left: 60px;
    }
}

@keyframes move2 {
    0%, 16%, 100% {
        top: 60px;
        left: 60px;
    }

    28.57%, 45.85% {
        top: 0px;
        left: 60px;
    }

    57.14%, 59.14% {
        top: 0px;
        left: 0px;
    }

    71.42%, 87% {
        top: 60px;
        left: 0px;
    }
}

@keyframes move3 {
    0%, 16%, 100% {
        top: 60px;
        left: 0px;
    }

    28.57%, 44% {
        top: 60px;
        left: 60px;
    }

    57.14%, 73.42% {
        top: 0px;
        left: 60px;
    }

    85.71%, 87% {
        top: 0px;
        left: 0px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
.loader-container {
    position: relative;
    top: 40%;
    display: flex;
    justify-content: center;
}
.loading {
    background: linear-gradient(339deg, rgb(83 131 152) -50%, rgba(26, 35, 44, 1) 100%);
}
.hidden{
    display: none !important;
}
.gradient-anim {
    background: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}